<h1 *ngIf="vehicle.id">Edit Vehicle</h1>
<h1 *ngIf="!vehicle.id">Add Vehicle</h1>

<p>{{ vehicle | json }}</p>

<form #form="ngForm" (ngSubmit)="submit()" novalidate>
  <div class="form-group">
    <label for="make">Make</label>
    <select name="makeId" id="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="vehicle.makeId" required #make="ngModel">
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="make.touched && !make.valid">Please specify the make</div>
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <select name="modelId" id="model" class="form-control" [(ngModel)]="vehicle.modelId" required #model="ngModel">
      <option value=""></option>
      <option *ngFor="let m of models" value="{{ m.id }}">{{ m.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="model.touched && !model.valid">Please specify vehicle model</div>    
  </div>
  <p>Is this vehicle registered?</p>
  <label for="registered" class="radio-inline">
    <input type="radio" name="isRegistered" id="registered" [value]="true" [(ngModel)]="vehicle.isRegistered">Yes
  </label>
  <label for="notRegistered" class="radio-inline">
    <input type="radio" name="isRegistered" id="notRegistered" [value]="false" [(ngModel)]="vehicle.isRegistered">No
  </label>
  <h2>Features</h2>
  <div class="checkbox" *ngFor="let f of features">
    <label for="feature{{ f.id }}"><input type="checkbox" id="feature{{ f.id }}" [checked]="vehicle.features.includes(f.id)" (change)="onFeatureToggle(f.id, $event)">{{ f.name }}</label>
  </div>
  <h2>Contact</h2>
  <div class="form-group">
    <label for="contactName">Name</label>
    <input type="text" id="contactName" class="form-control" name="contactName" [(ngModel)]="vehicle.contact.name" required #contactName="ngModel">
    <div class="alert alert-danger" *ngIf="contactName.touched && !contactName.valid">Please tell us your name</div>
  </div>
  <div class="form-group">
    <label for="contactPhone">Phone</label>
    <input type="text" id="contactPhone" class="form-control" name="contactPhone" [(ngModel)]="vehicle.contact.phone" required #contactPhone="ngModel">
    <div class="alert alert-danger" *ngIf="contactPhone.touched && !contactPhone.valid">Please enter your phone number</div>    
  </div>
  <div class="form-group">
    <label for="contactEmail">Email</label>
    <input type="text" id="contactEmail" class="form-control" name="contactEmail" [(ngModel)]="vehicle.contact.email">
  </div>
  <button type="submit" class="btn btn-primary" >Save</button>
</form>